# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyB5wOVfOfwMxR5yMwwDOB9yU6Gcz0w9TlU
VITE_FIREBASE_AUTH_DOMAIN=pizzora-bd.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ypizzora-bd
VITE_FIREBASE_STORAGE_BUCKET=ypizzora-bd.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=628425082209
VITE_FIREBASE_APP_ID=1:628425082209:web:27e55679c2c66b54b57120
